body {
background-color:#000000;
padding: 0 10%;
}

.bak {
background-color:#ffffff;
width: 60%;
border-radius:2rem!important; 
font-weight:bold; 
padding: 3% 10%;
}

h1{
color:#808080;
font-size:3em; 
font-weight:bold;
}